<div class="btn-group">
  <a href="{% url 'categories' %}" class="nav-link px-2 link-dark">Categories</a>
  <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    {% for cat in categories %}
    <li><a class="dropdown-item" href="#">{{ cat.name }}</a></li>
    {% endfor %}
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Кохфе</a></li>
  </ul>
</div>