{% extends 'main/base.html' %}

{% block title %}
    {{ product_obj.title }}
{% endblock %}

{% block main_content %}
    <h1>{{ product_obj.title }}</h1>
    <hr>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        {% if product_obj.image %}
            <div class="col"><img src="{{ product_obj.image.url }}"></div>
        {% endif %}
        <div>
        <p>{{ product_obj.description }}</p>
        <p>{{ product_obj.category.name }}</p>
        <p>{{ product_obj.time_update|date:"d-m-Y H-i-s"}}</p>
        <p>
            {% if product_obj.stock %}
                Stock: {{ product_obj.stock }}
            {% else %}
                Sold out
            {% endif %}
        </p>
        <p>{{ product_obj.price }}₴</p>
        <button type="button" class="btn btn-outline-primary">Buy</button>
        </div>
    </div>
{% endblock %}